@import 'bootstrap/dist/css/bootstrap';

// General
html,
body {
  height: 100%;
}

body.d-flex.flex-column {
  background-color: #1b2327;
  color: #ffffff;

}

h1 {
  color: #bcbfc1;
}

h2 {
  color: #bcbfc1;
}

.link,
.link:hover {
  color: #bcbfc1;
}

#page-content {
  flex: 1 0 auto;
  background-color: #1b2327;
}

.admin-title{
  color: #418e86;
}

.site-link {
  color: #418e86;
}

.site-link:hover {
  color: #37988e;
}
// End General



// Navbar 
#nav-search{
  background-color: #1b2327;
  border-color: #1f292e;
}

.search-field {
  background-color: #1b2327 !important;
  border-color: #1f292e !important;
  border-width: 5px !important;
  color: #ffffff !important;
}

#logo {
  float: left;
  font-size: 1.5em;
  color: #418e86 !important;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  font-weight: bold;
}

.navbar.navbar-expand-lg.navbar-dark.bg-dark {
  background-color: #1f292e !important;
}

.nav-link {
  color: #bcbfc1 !important;
}

.dropdown-menu {
  background-color: #1f292e !important;
}

.dropdown-item{
  color:  #bcbfc1 !important;
}

.dropdown-item:hover{
  background-color: #27333a !important;
  color: #418e86 !important;
}

.dropdown-divider{
  color:  #418e86 !important;
}

// End Navbar



// Flash Messages
.alert-danger {
  background-color: #dc3545 !important;
  border: none !important;
  color: #ffffff !important;
}

.alert-success {
  background-color: #418e86 !important;
  border: none !important;
  color:  #ffffff !important;
}

.msg-btn:hover,.close {
  color: #ffffff !important;
}

// End Flash Messages



// Footer
#sticky-footer {
  flex-shrink: none;
  background-color: #1f292e !important;
}

// End Footer



// Buttons
#btn-submit-form {
  margin-right: 20px;
}

#btn-cancel-form {
  margin-left: 20px;
}

#show-btn-delete {
  margin-left: 1.80em;
}

.btn{
  border: none !important;
  transition: none;
}

.btn-primary {
  background-color: #6f4fff;
  border: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #7e4fff;
  border: none !important;
  box-shadow: none !important;
}

.btn-outline-success {
  background-color: #418e86 !important;
  border: none !important;
  color: white !important;
}

.btn-outline-success:hover,
.btn-outline-success:focus,
.btn-outline-success:active {
  background-color: #37988e !important;
  border: none !important;
  box-shadow: none !important;
}

.btn-success {
  background-color: #418e86 !important;
  border-color: #418e86 !important;
  border: none !important;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active {
  background-color: #37988e !important;
  border: none !important;
  box-shadow: none !important;
}

// End buttons



// Forms

.form-input, 
.form-input:active,
.form-input:focus {
  background-color: #27333a !important;
  color: #bcbfc1 !important;
  border: none !important;
}

// End Forms



// Stocks Search Area
.search-area {
  padding-top: 50px;
}

.no-right-padding {
  padding-right: 0px !important;
}

.no-left-padding {
  padding-left: 0px !important;
}

// Returned stock from search
.results-block {
  display: inline-block !important;
  width: 80%;
}

// End Stocks Search Area