<% flash.each do |name, msg| %>
  <div class="alert <%= bootstrap_class_for(name)%> alert-dismissible fade show col-6" role="alert">
    <%= msg %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" class="msg-btn">
      <span aria-hidden="true" class="msg-btn">&times;</span>
    </button>
  </div>
<% end %>


